
/* Стили полей ввода */
.textbox{
  height:.4rem;
  width:100%;
  border-radius:9px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:.14rem; 
  padding:10px;
  margin-bottom:3px;  
}
.message:focus,
.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}
/* Стили текстового поля */
.message{
    background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    display:block;
    padding:10px;
    margin-bottom:30px;
    overflow:hidden;
}
/* Базовые стили кнопки */
.button{
  height:.4rem;
  width:100%;
  border-radius:9px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:#ffa200;
  color:#fff;
  font-family: 'Open Sans', sans-serif;  
  font-weight:400;
  font-size: .16rem;
  transition:background .4s;
  cursor:pointer;
}
/* Изменение фона кнопки при наведении */
.button:hover{
  background:#1F1F1E;
}
/* Реклама */
.ads
{margin:29px 0;
  text-align:center;-webkit-transition-delay:.4s!important;-o-transition-delay:.4s!important;transition-delay:.4s!important}@media (max-width:767px){.ads
{margin:29px 0 70px}}
.ads .logo
{-webkit-transform:translateY(100px);-ms-transform:translateY(100px);transform:translateY(100px);opacity:0}.ads
.rass
{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-transition:opacity 1s ease,-webkit-transform 1s ease;transition:opacity 1s ease,-webkit-transform 1s ease;-o-transition:transform 1s ease,opacity 1s ease;transition:transform 1s ease,opacity 1s ease;transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease}.ads
>a{display:inline-block;padding:11px 20px;border-radius:100px;-webkit-transition:background-color .3s ease;-o-transition:background-color .3s ease;transition:background-color .3s ease}@media (min-width:1025px){.ads
>a:hover{background-color:#f3f3f3}}.ads
>a>img{display:block;height:20px;width:auto}